div.search_result {
    font-family: Arial, Verdana, sans-serif;
    margin-bottom: 1em;
}

div.scopus_error {
    background-color: #c66;
    padding: 1em;
}

div.search_result table th {
    text-align: left;
    padding-right: 2em;
}

div.spinner {
    text-align: center;
}